body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    margin: 0;
    letter-spacing: 0.5px;
    padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
}

.background{
  background-color: #544354;
  background-image: -webkit-linear-gradient(-45deg, #544354 50%, #C03734 50%);
  display: block;
  height: 100vh;
  position: fixed;
  width: 100vw;
  overflow: hidden;
  top: 0;
}

/*Navbar Styling*/
.nav{
  background: white;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.06);
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

.nav .nav-inner{
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

.nav .nav-inner .container{
  display: inline-block;
  float: left;
}

.nav .nav-inner #right{
  float: right;
}

.nav .nav-inner .container a{
  display: inline-block;
  outline: none;
  text-decoration: none;
}

.nav .nav-inner #left a .home-logo{
  background: url('../images/full_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 194px 40px;
  display: inline-block;
  height: 40px;
  padding: 10px 20px;
  position: relative;
  width: 194px;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

.nav .nav-inner #right a{
  margin: 13px 20px;
}

.nav .nav-inner #right a .consultation{
  background: #544354;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  outline: none;
  padding: 6px 15px;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

.nav .nav-inner #right a .consultation:hover{
  background: #7f667f;
}


/*About Block Styling*/
.content-box{
  background: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  margin: 0px auto 32px auto;
  max-width: 940px;
  padding: 32px 60px;
  position: relative;
  top: 92px;
  width: calc(90% - 100px);
  z-index: 1;
}

#team-box{
  max-width: 940px;
  padding: 32px 48px;
}

.title{
  color: #222222;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 16px;
  text-align: center;
}

h4.mission{
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
}

p.text{
  color: #222222;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

ul.package-list{
  margin: -6px 0 16px 32px;
}

ul.package-list li{
  color: #222222;
  font-size: 16px;
  line-height: 24px;
  list-style: circle;
}


/*Team*/
.teammate{
  display: inline-block;
  max-width: 49.5%;
  position: relative;
  margin-bottom: 32px;
  vertical-align:top;
}

.profile-pic{
  display: block;
  margin: 8px auto;
  position: relative;
}

h3.name{
  color: #222222;
  font-size: 16px;
  margin-bottom: 2px;
  text-align: center;
}

h4.role{
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  text-align: center;
}

p.bio{
  color: #222222;
  display: block;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
  max-width: 87.5%;
}



/*Copyright box*/

.copyright-text{
  color: #DDDDDD;
  font-size: 12px;
  line-height: 18px;

}




@media screen and (max-width: 950px) {
  .content-box{
    padding: 32px 32px;
    top: 82px;
    width: calc(90% - 64px);
  }

  h1.title{
    font-size: 32px;
    margin-bottom: 12px;
  }

  h4.mission{
    font-size: 16px;
    margin-bottom: 32px;
  }

  p.text{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 14px;
  }

  ul.package-list{
    margin: -4px 0 12px 24px;
  }

  ul.package-list li{
    font-size: 14px;
    line-height: 20px;
  }

}

@media screen and (max-width: 800px) {
  #team-box{
    padding: 32px 32px;
  }

  .teammate{
    display: block;
    max-width: 100%;
    margin: 32px auto;
  }

  p.bio{
    max-width: 400px;
    width: 90%;
  }

}

@media screen and (max-width: 564px) {

  .nav{
    height: 50px;
  }

  .nav .nav-inner #left a .home-logo{
    background-size: 172px 32px;
    height: 32px;
    padding: 9px 10px;
    width: 172px;
  }

  .nav .nav-inner #right a{
    margin: 9px 10px;
  }

  .nav .nav-inner #right a .consultation{
    background: #544354;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    outline: none;
    padding: 6px 10px;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
  }

  .content-box{
    padding: 20px 20px;
    top: 82px;
    width: calc(100% - 40px);
  }

  .profile-pic{
    height: 200px;
    width: 200px;
  }

}
