
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    margin: 0;
    letter-spacing: 0.5px;
    padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
}

.background{
  background-color: #544354;
  background-image: -webkit-linear-gradient(-45deg, #544354 50%, #C03734 50%);
  display: block;
  height: 100vh;
  position: fixed;
  width: 100vw;
  overflow: hidden;
}


.main-container{
  background: white;
  display: inline-block;
  left: 50%;
  padding: 24px;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.1s;
     -moz-transition: all 0.1s;
       -o-transition: all 0.1s;
          transition: all 0.1s;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.logo{
  background: url('../images/full_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px 112px;
  display: block;
  height: 112px;
  margin: 0 auto;
  padding: 32px 32px 16px 32px;
  position: relative;
  width: 600px;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

.tagline{
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.tagline #word{
  color: #C03734;
}

.video-box{
  display: block;
  position: relative;
}

.demo-video{
  display: block;
  margin: 24px auto;
  max-width: 500px;
  width: 80%;
}

a{
  outline: none;
  text-decoration: none;
}

.cta-button{
  background: #C03734;
  border: 0;
  border-radius: 4px;
  bottom: 10px;
  -webkit-box-shadow: 0px 1px 6px 1px rgba(105,105,105,0.75);
  -moz-box-shadow: 0px 1px 6px 1px rgba(105,105,105,0.75);
  box-shadow: 0px 1px 6px 1px rgba(105,105,105,0.75);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  left: 50%;
  margin: 0 auto 0px auto;
  outline: none;
  padding: 10px 16px;
  position: absolute;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cta-button:hover{
  background: #ce4d4b;
}

.link-box{
  display: block;
}

.link-box .left{
  float: left;
  height: 30px;
  position: relative;
}

.link-box .left .email{
  color: #999999;
  text-decoration: none;
}

.link-box .left .email:hover h6{
  color: #544354;
}

.link-box .left .email h6{
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

.link-box .right{
  float: right;
  height: 30px;
  position: relative;
}

.link-box .right .social{
  color: #CCCCCC;
  display: inline-block;
  height: 34px;
  text-decoration: none;
  vertical-align: top;
}

.link-box .right .about-trigger{
  display: inline-block;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

.link-box .right .about-trigger:hover p{
    color: #544354;
}

.link-box .right .about-trigger p{
  color: #999999;
  font-size: 18px;
  padding: 5px;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

.link-box .right .social:hover i#youtube{
  color: #CD201F;
}

.link-box .right .social:hover i#facebook{
  color: #3B5998;
}

.link-box .right .social i{
  font-size: 22px;
  font-weight: 400;
  margin: 0 3px;
  padding: 5px;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}



/*800px Media Query*/

@media screen and (max-width: 800px) {

  .main-container{
    padding: 20px;
  }

  .logo{
    background-size: 450px 84px;
    height: 84px;
    padding: 24px 24px 12px 24px;
    width: 450px;
  }

  .tagline{
    font-size: 20px;
  }

  .cta-button{
    font-size: 18px;
    padding: 8px 14px;
  }

  .link-box .left .email h6{
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
  }

  .link-box .right{
    top: 1px;
  }

  .link-box .right .social i{
    font-size: 20px;
    margin: 0 2px;
    padding: 4px;
  }

  .link-box .right .about-trigger p{
    font-size: 16px;
  }

}


/*Mobile Media Query*/

@media screen and (max-width: 564px) {
  .main-container{
    padding: 10px;
  }

  .logo{
    background-size: 300px 56px;
    height: 56px;
    padding: 12px 12px 16px 12px;
    width: 300px;
  }

  .tagline{
    font-size: 18px;
    padding: 0 20px;
  }

  .cta-button{
    font-size: 16px;
    padding: 6px 12px;
  }

  .link-box .left .email h6{
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
  }

  .link-box .right{
    top: 1px;
  }

  .link-box .right .social{
    height: 27px;
  }

  .link-box .right .social i{
    font-size: 18px;
    margin: 0 2px;
    padding: 4px;
  }

  .link-box .right .about-trigger p{
    font-size: 14px;
    padding: 4px;
  }

}
